/*
 * General
 */
@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    background-color: #222;
    color: white;
    font-family: 'Muli', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

pre {
    border: 1px dashed #888;
    border-radius: 2px;
}

/*
 * Header
 */
header {
    background-color: #6a8500;
    background-image: url(/header_bg.png), linear-gradient(to bottom, #6a8500 0%,#647d00 100%);
    background-repeat: no-repeat, repeat;
    background-size: auto 80%, cover;
    background-position: 5% 70%;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 3em;
    margin: 0;
    padding: 1em 0 0.4em;
    text-align: center;
}

header h2 {
    font-size: 1.4em;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
}

header ul {
    display: block;
    margin: 0;
    padding: 0.9em 0;
    text-align: center;
}

header ul li {
    display: inline;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}

header ul li:first-child::before {
    content: "";
}

header ul li::before {
    content: " - ";
}

header ul li a {
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

/*
 * Home page
 */
#home {
    padding: 2em 0;
}

#home #infos {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    padding: 3em 0 5em;
    width: 80%;
}

#home #infos > li {
    display: block;
    flex: 1;
    min-width: 10%;
    padding: 2em 2em;
}

#home #infos > li + li {
    border-left: 1px dashed rgba(255, 255, 255, 0.5);
}

#home #jump {
    text-align: center;
}

#home #jump a {
    background-color: #6a8500;
    border: 10px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: inline-block;
    margin: 0 1em;
    padding: 1em 2em;
    text-decoration: none;
}

#home #jump a:hover {
    background-color: #8eb300;
}

#home #jump a:active {
    border-color: black;
}

/*
 * Guides
 */
#guides {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#guides > nav {
    background-color: #444;
    font-size: 0.95em;
    padding: 1em 5em 1em 3em;
    flex: 0.2;
    min-width: 10vw;
}

#guides > nav a {
    text-decoration: none;
}

#guides > nav a:hover {
    color: #ddd;
    text-decoration: underline;
}

#guides > nav h2:first-child {
    margin-top: 0.5em;
}

#guides > nav ul {
    list-style-type: none;
    margin: 1.7em 0 0;
    padding: 0;
}

#guides > nav ul li {
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 0.1em 0;
    padding-left: 1.7em;
    text-indent: -1.0em;
}

#guides > div {
    flex: 1;
    font-family: sans-serif;
    font-size: 0.9em;
    padding: 1em 2em;
}
