/*
 * General
 */
@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    background-color: #222;
    color: white;
    font-family: 'Muli', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

@media (max-width: 1200px) {
    body {
        font-size: 10px;
    }
}

a {
    color: white;
}

pre {
    border: 1px dashed #888;
    border-radius: 2px;
}

/*
 * Header
 */
header {
    background-color: #2e3d9d;
    background-image: url(/logo.png);
    background-repeat: no-repeat, repeat;
    background-size: auto 80%, cover;
    background-position: 5% 70%;
    display: block;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem 0 0.4rem;
    text-align: center;
}

header h2 {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    text-align: center;
}

header ul {
    display: block;
    margin: 0;
    padding: 0.9rem 0;
    text-align: center;
}

header ul li {
    display: inline;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: lowercase;
}

header ul li:first-child::before {
    content: "";
}

header ul li::before {
    content: " - ";
}

header ul li a {
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

/*
 * Home page
 */
#home {
    padding: 2rem 0;
}

#home #infos {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0 5rem;
}

@media (min-width: 1200px) {
    #home #infos {
        width: 80%;
    }
}

#home #infos > li {
    display: block;
    flex-grow: 1;
    flex-basis: 10rem;
    padding: 2rem 2rem;
}

#home #infos > li + li {
    border-left: 1px dashed rgba(255, 255, 255, 0.5);
}

#home #jump {
    text-align: center;
}

#home #jump a {
    background-color: #2e3d9d;
    border: 10px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: inline-block;
    margin: 0 1rem 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

#home #jump a:hover {
    background-color: #2e3d9d;
}

#home #jump a:active {
    border-color: black;
}

/*
 * Donate page
 */
 #donate {
    margin: 0 10%;
}

/*
 * Guides
 */
#guides {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#guides > nav {
    background-color: #444;
    font-size: 0.95rem;
    padding: 1rem 5rem 1rem 3rem;
    flex-basis: 10vw;
    flex-grow: 0.05;
}

#guides > nav a {
    text-decoration: none;
}

#guides > nav a:hover {
    color: #ddd;
    text-decoration: underline;
}

#guides > nav h2:first-child {
    margin-top: 0.5rem;
}

#guides > nav ul {
    list-style-type: none;
    margin: 1.7rem 0 0;
    padding: 0;
}

#guides > nav ul li {
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 0.1rem 0;
    padding-left: 1.7rem;
    text-indent: -1.0rem;
}

#guides > nav ul li.current-page a {
    color: #6c7af3;
    font-weight: bold;
}

#guides > div {
    flex: 1;
    font-family: sans-serif;
    font-size: 0.9rem;
    padding: 1rem 2rem;
}
